:root {
  --primary-color: #648ECE; // Основной цвет.
  --text-primary-color: #FFFFFF; // Основной цвет текста.
  --body-background-color: #211D33; // Цвет body.
  --sidebar-background-color: #0F0D18; // Цвет сайдбара фона.
  --input-background-color: #2C283E; // Цвет инпута.
  --card-background-color: #322D4A; // Цвет карточек разворачивающихся.

  --color-white: #ffffff; // Стандартный белый цвет
  --color-link: var(--color-white);

  // breakpoint sizes.
  --xxl-container: 1300px;
  --xxl-window: 1400px;

  // fonts
  --headline-font-family: 'Montserrat', sans-serif;
  --default-font-family: 'Lato', sans-serif;

  --border-radius: 8px;
}
