@import "reset";
@import "vars";
@import "fonts";

* {
  box-sizing: border-box;
  color: var(--text-primary-color);
  font-family: var(--default-font-family);
}

body {
  background: var(--body-background-color);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
}
