<template>
  <div
    class="loadable"
    :class="{ loading: loading, 'transparent-overlay': transparentOverlay }"
  >
    <transition name="loadable__content">
      <div class="loadable__content-wrapper">
        <slot v-if="!loading" />
      </div>
    </transition>
    <div v-show="loading" class="spinner">
      <div class="loader"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loadable',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    transparentOverlay: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="scss" scoped>
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}

.loadable {
  width: 100%;
  height: 100%;

  &.loading {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.15s ease;
  }
}

.loader {
  position: relative;
  width: 6em;
  height: 6em;
  font-size: 10px;
  text-indent: -9999em;
  background: #211d34;
  background: linear-gradient(
    to right,
    #211d34 10%,
    rgba(255, 255, 255, 0) 42%
  );
  border-radius: 50%;
  transform: translateZ(0);
  animation: load3 1.4s infinite linear;
}
.loader:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  content: '';
}
.loader:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  background: #211d34;
  border-radius: 50%;
  content: '';
}
@-webkit-keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadable__content-enter-active {
  animation: bounce-in 0.5s;
}
.loadable__content-active {
  animation: bounce-in 0.2s reverse;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
