<template>
  <div class="layout__default">
    <div class="nuxt-router-wrapper">
      <transition name="fade-down">
        <Nuxt />
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Default',
})
</script>

<style lang="scss" scoped>
.layout__default {
  display: flex;
  align-items: flex-start;

  .nuxt-router-wrapper {
    width: 100%;
    max-width: calc(100vw - 107px);
    height: 100vh;
    overflow: hidden auto;

    .page {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  }
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: all 0.5s;
}
.fade-down-enter,
.fade-down-leave-active {
  transform: translate(50px, 0);
  opacity: 0;
}
</style>
